<h1>Hola <%= @user.username %>! Tu pago ha sido confirmado</h1>
<hr>
<br>
<p>El pago realizado a <%= @payment.beneficiary %> ha sido CONFIRMADO.</p>

<p><u>Procede ahora a Validar un Referido para crear un Turno, accediendo a "Pasos para Turno"</u></p>

<p>
  Accede haciendo click en el siguiente enlace: <%= @url %>.
</p>

<p>Gracias</p>
