<h1>Hola <%= @user.username %>! Has recibido un nuevo pago</h1>
<hr>
<br>

<p>Accede a tu oficina ahora y Verifica los detalles de este pago y procede a CONFIRMARLO.</p>

<p><u>Recuerda que para dudas puedes comunicarte con el usuario que emitió el pago y aclararlas.</u></p>

<p>
  Para Acceder a tu Oficina Virtual y ver el pago haz click en el siguiente enlace: <%= @url %>.
</p>

<p>Gracias</p>
