<h1>Bienvenido/a <%= @user.first_name %> a INMARK & Business School</h1>
<hr>
<br>
<h3>INMARK & Business School - Innovative Networks & Marketing Business School</h3>

<p>
  <b>Tus datos de acceso son:</b><br>
  Email: <%= @user.email %><br>
  Contraseña: <i>(Tu Patrocinador ha de suministrártela)</i><br>
</p>
<p>
  Para Acceder a tu Oficina Virtual haz click en el siguiente enlace: <%= @url %>.
</p>

<p>Gracias por Participar</p>

<h4>Términos y Condiciones</h4>
<small>Este sistema de intercambios NO NECESARIAMENTE a usted le tiene que funcionar. Usted participa en este sistema BAJO SU PROPIA RESPONSABILIDAD. El INMARK & Business School y sus creadores no se hacen responsables de los resultados que usted obtenga al participar en este sistema.</small>
<small>INMARK & Business School es solo una plataforma gratuita y libre para realizar intercambios monetarios entre usuarios de forma consciente a nivel mundial.</small>
<small>INMARK & Business School no se hace responsable por promesas hechas fuera de nuestros términos y condiciones acerca de lo que puede ofrecerle el sistema. INMARK & Business School es solo un Sistema. </small>


