<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div class="logo">
  INMARK & Business School
</div>
<%= yield %>

<hr>
<div class="copyright">
  2014 &copy; INMARK & Business School. Todos los derechos reservados.
</div>
</body>
</html>